:root {
    --darkCharcoal: #191919;
    --lightCharcoal: #202020;
    --headings: #dad7d7;
    --bodyText: #bcbcbcbc;
    --accent: #FF6F00;
    --border-radius: 0.25em;
}

html {
    font-size: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkCharcoal);
    font-family: "Montserrat", Verdana, sans-serif;
    color: var(--bodyText);
}

.card {
    display: grid;
    column-gap: 1em;
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "image info"
        "image info";
}


h1 {
    font-family: "Montserrat";
    font-weight: 500;
    color: var(--headings);
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: "Montserrat";
    font-weight: 500;
    color: var(--headings);
    font-size: 1.25rem;
    margin-top: 1rem;
}

p {
    margin-top: 0.5em;
}

img.projpic {
    margin-bottom: 1em;
    max-width: 100%;
}

img.propic {
    border-radius: 50%;
    border: 2px solid var(--accent);
    margin-bottom: 1em;
    max-width: 100%;
}

i {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

a {
    color: var(--bodyText);
    text-decoration: none;
}

a:hover i {
    color: var(--accent);
    text-decoration: none;
}

a:visited {
    color: var(--bodyText);
    text-decoration: none;
}

.sectionbg {
    background-color: var(--lightCharcoal);
    border-radius: var(--border-radius);
    padding: 1em;
}

/*25em is approx 400px (size of image)*/
@media only screen and (min-width: 25em) {
    #wrapper {
        width: 95%;
        margin: 1% auto;
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        row-gap: 1em;
        column-gap: 1.5em;
        grid-template-columns: auto;
        grid-template-rows: repeat(9);
        grid-template-areas:
            "profile"
            "about"
            "skills"
            "projects"
            "experience"
            "activity"
            "education"
            "games"
            "contact";
    }

    .project-card {
        align-items: start;
        display: grid;
        column-gap: 1em;
        grid-template-rows: auto;
        grid-template-areas:
            "image"
            "info";
    }

    .project-card h2 {
        margin-top: 0;
    }

    .project-card img {
        margin-top: 1rem;
    }

    .project-card p {
        margin-bottom: 1rem;
    }

    .profile {
        text-align: center;
        grid-area: profile;
    }

    .about {
        grid-area: about;
    }

    .skills {
        grid-area: skills;
    }

    .projects {
        grid-area: projects;
    }

    .activity {
        grid-area: activity;
    }

    .experience {
        grid-area: experience;
    }

    .contact {
        grid-area: contact;
    }

    .education {
        grid-area: education;
    }

    .games {
        grid-area: games;
    }

    input,
    textarea {
        width: 100%;
    }

    textarea {
        resize: vertical;
        height: 5rem;
    }

    button {
        padding: 0.5em;
        color: #FFF;
    }

    .activity img {
        max-width: 100%;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

/* 62em is approx 992px (same breakpoint as Bootstrap for Navbar) */
@media only screen and (min-width: 62em) {
    #wrapper {
        width: 95%;
        margin: 1% auto;
        padding-left: 5%;
        padding-right: 5%;
        display: grid;
        row-gap: 1em;
        column-gap: 1.5em;
        grid-template-columns: 30% auto;
        grid-template-rows: repeat(7, 8);
        grid-template-areas:
            "profile about"
            "skills projects"
            "activity experience"
            "games education"
            "contact placeholder";
    }

    .project-card {
        display: grid;
        column-gap: 1em;
        grid-template-columns: 15% 85%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "image info";
    }

    .project-card img {
        margin-top: 0;
    }

    .profile {
        text-align: center;
        grid-area: profile;
        grid-row: 1 / span 2;
    }

    .about {
        grid-area: about;
        grid-row: 1 / span 1;
    }

    .skills {
        grid-area: skills;
        grid-row: 3 / span 1;
    }

    .projects {
        grid-area: projects;
        grid-row: 2 / span 2;
    }

    .activity {
        grid-area: activity;
        grid-row: 4 / span 2;
    }

    .experience {
        grid-area: experience;
        grid-row: 4 / span 2;
    }

    .contact {
        grid-area: contact;
        grid-row: 7 / span 1;
    }

    .education {
        grid-area: education;
        grid-row: 6 / span 1;
    }

    .games {
        grid-area: games;
        grid-row: 6 / span 1;
    }
}